@model WeddingApp.Models.EnquiryCategory

	@{
		ViewBag.Title = "Details";
	}

	<div>
		<h4>EnquiryCategory Details</h4>
		<hr />
		<div class="form-border">
			<fieldset disabled>
				<div class="row" style="padding-bottom:5px;padding-top:5px;">
					<div class="col-md-2">
						@*@Html.DisplayNameFor(model => model.Name)*@
						@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
					</div>
					<div class="col-md-10">
						@*@Html.DisplayFor(model => model.Name)*@
						@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<br />
	<div>
		@Html.Partial("_BackToListButtonPartial")
		@Html.Partial("_EditButtonPartial", Model.Id)
	</div>
	